<ion-header>
  <ion-toolbar>
    <ion-title>y2</ion-title>
  </ion-toolbar>
</ion-header>

<<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/img3.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Nouilles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>Ingredients</h2>
        <p> 8 pilons de poulet - 2 c à s de miel liquide - 1 c. à s de paprika - 2 c. à soupe huile d'olive - 3 c. à soupe d'herbes mêlées hachées fin - 1 citron + 1 c. à soupe de jus - sel, poivre</p><br>
        <p>ÉTAPE 1
            * La marinade : mêlez dans le saladier : huile, miel, paprika.<br>
            ÉTAPE 2
            Préchauffez le four à th.6 (180°C), ou allumez le barbecue.<br>
            ÉTAPE 3
            - * les pilons : arrachez la peau, roulez-les dans le mélange, laissez mariner au moins 1 h.<br>
            ÉTAPE 5
          Posez les pilons sur la plaque ou sur la grille, salez, poivrez tout et cuisez-les 10 min.<br>
          ÉTAPE 6
          Ajoutez le reste de marinade, cuisez encore 5 min.<br>
          ÉTAPE 8
         Dégustez chaud ou froid, avec le citron en rondelles que chacun pourra presser sur ses pilons.
          </p>
      </ion-card-content>
    </ion-card>
  </ion-content>
