<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <h1 style="color: aqua; text-align: center; margin-top: 30px">CodeBouf</h1>
  <form style="margin-top: 30%">
    <ion-item>
        <ion-input type="text" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Password"></ion-input>
  </ion-item>
  <ion-button href="/tabs" shape="round" size="default" color="primary" expand="block" style="margin-top:10px">Connexion</ion-button>
  <ion-button href="/signup" shape="round" size="default" color="danger" expand="block" style="margin-top:10px">Inscription</ion-button>
  </form>
</ion-content>