<ion-header>
  <ion-toolbar>
    <ion-title>
      CodeBouf
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/img1.jpeg"></ion-img>
      <ion-card-header>
          <ion-button href="/youtube" shape="round">Voir</ion-button>
        <ion-card-title>Poulet Grille</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <ion-img src="/assets/img2.jpg"></ion-img>
        <ion-card-header>
            <ion-button href="/y1" shape="round">Voir</ion-button>
          <ion-card-title>Friite au poulet</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
        </ion-card-content>
      </ion-card>

      <ion-card class="welcome-card" >
          <ion-img src="/assets/img3.jpg"></ion-img>
          <ion-card-header>
              <ion-button href="/y2" shape="round">Voir</ion-button>
            <ion-card-title>Nouilles</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
          </ion-card-content>
        </ion-card>

        <ion-card class="welcome-card" >
            <ion-img src="/assets/img4.jpg"></ion-img>
            <ion-card-header>
                <ion-button href="/y3" shape="round">Voir</ion-button>
              <ion-card-title>Riz au poulet</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
            </ion-card-content>
          </ion-card>

          <ion-card class="welcome-card" >
              <ion-img src="/assets/img5.jpg"></ion-img>
              <ion-card-header>
                  <ion-button href="/y4" shape="round">Voir</ion-button>
                <ion-card-title>Tchep</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
              </ion-card-content>
            </ion-card>

            <ion-card class="welcome-card" >
                <ion-img src="/assets/img6.jpg"></ion-img>
                <ion-card-header>
                    <ion-button href="/y5" shape="round">Voir</ion-button>
                  <ion-card-title>Sauce clair</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
                </ion-card-content>
              </ion-card>
<!---com-->
              <ion-card class="welcome-card" >
                  <ion-img src="/assets/img7.jpg"></ion-img>
                  <ion-card-header>
                      <ion-button href="/y6" shape="round">Voir</ion-button>
                    <ion-card-title>Pizza</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
                  </ion-card-content>
                </ion-card>

                
      
</ion-content>
