<ion-content>
  <ion-slides pager="true">
    <ion-slide style="background-color: #6ebfaf; height: 650px;">
      <ion-icon name="cafe" style="font-size:130px; color:#ebebeb;"></ion-icon>
      </ion-slide>
      

    <ion-slide style="background-color: #f1c40f; height: 650px;">
      <ion-icon name="pizza" style="font-size:130px; color:#ebebeb;"></ion-icon>
    </ion-slide>

    <ion-slide style="background-image: url(/assets/img1.jpeg); height: 650px;" class="bg-img">
    <h1 style="color:#ebebeb">Bienvenue sur CodeBouf <br> <p style="color:#ebebeb">Apprenez a cuisiner vos petit plat préféré :-)</p><br> 
      <div>
          <ion-button href="/login" shape="round" size="default" color="light" expand="block" style="margin-top:10px">Commencer</ion-button>
      </div>
    </h1>
    
    </ion-slide>
  </ion-slides>
</ion-content>
